<%= form_for @profile, :html => { :class => 'form-horizontal', multipart: true } do |f| %>

	<% if @profile.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@profile.errors.count, "error") %> 
					prohibited you from saving your profile
			</h2>
			<ul>
				<% @profile.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<p>
			  <label for="exampleInputEmail1">Artist's Name</label>

			<%= f.text_field :name, :class =>"form-control", :id =>"exampleInputEmail1", :placeholder =>"ex. DJ Fresh" %>
		</p>

		<p>
			 <label for="exampleInputEmail1">Artist's Short Bio</label>
			<%= f.text_area :bio, :class =>"form-control", :rows =>"7", :placeholder =>"Write a little about yourself! Where are you from? How long have you been performing? What genre of music do you make?" %>
		</p>

		<!-- add image avatar

		add image cover_photo -->

			<p>
				 <label for="exampleInputFile">Upload an Avatar</label>
						<div class="col-md-offset-4">
							<%= f.file_field :avatar, :id=>"exampleInputFile", :class =>"form-inline" %>
						</div>
				 <p class="help-block">Make it a cool picture of you doing your thang</p>
			</p>

			<p>
				 <label for="exampleInputFile">Upload an Cover Photo</label>
					<div class="col-md-offset-4">
						<%= f.file_field :cover_photo %>
					</div>
				<p class="help-block">Some ideas are a cool design or even your album cover!</p>
			</p>

		<p>
			<label for="exampleInputFile">Add your Soundcloud playlist to your EPK</label>
			<%= f.text_field :embed, :class =>"form-control", :id =>"exampleInputEmail1", :placeholder =>"Embed your playlist with the HTML code" %>
		</p>

		<p>
		<label for="exampleInputFile">Add your promotional images to your EPK</label>
		<div class="col-md-offset-4">
      <%= file_field_tag "images[]", type: :file, multiple: true %>
    </div>
      <p class="help-block">More cool pictures of you, or anything, really</p>
  </p>

		<p>
			<label for="exampleInputFile">Add Your Facebook Page</label>
			<%= f.text_field :facebook, :class =>"form-control", :id =>"exampleInputEmail1", :placeholder =>"Simply copy and paste the link here" %>
			<p class="help-block">Make sure to include the 'https://' at the beginning of all URLs!</p>
		</p>

		<p>
			<label for="exampleInputFile">Add Your Twitter Account</label>
			<%= f.text_field :twitter, :class =>"form-control", :id =>"exampleInputEmail1", :placeholder =>"Copy and paste your twitter account URL"%>
		</p>

		<p>
			<label for="exampleInputFile">Add Your Souncloud Profile</label>
			<%= f.text_field :soundcloud, :class =>"form-control", :id =>"exampleInputEmail1", :placeholder =>"Copy and paste your soundcloud profile URL" %>
		</p>

		<p>
			<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
		 <i class="icon-ok icon-white"></i> Save
		 <% end %>
			
		</p>

	<% end %>