<h1>Edit Your Profile</h1>

<%= form_for :profile, url: profile_path(@profile), method: :patch do |f| %>

<% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@profile.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @profile.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<p>
	<%= f.label :name %>
	<%= f.text_field :name %>
</p>

<p>
	<%= f.label :bio %>
	<%= f.text_area :bio %>
</p>

<!-- add image avatar

add image cover_photo -->

<p>
	<%= f.label :avatar %>
	<%= f.file_field :avatar %>
</p>

<p>
	<%= f.label :cover_photo %>
	<%= f.file_field :cover_photo %>
</p>

<p>
	<%= f.label :facebook %>
	<%= f.text_field :facebook %>
</p>

<p>
	<%= f.label :twitter %>
	<%= f.text_field :twitter %>
</p>

<p>
	<%= f.label :soundcloud %>
	<%= f.text_field :soundcloud %>
</p>

<p>
	<%= f.submit %>
</p>

<% end %>

<%= link_to 'EPK Home', welcome_index_path %>