<!-- this will be the landing page for the EPK as a whole -->
<div class="page profile profile-show clearfix">
	<div class ="col-md-8 col-md-offset-2">

	<div class ="bio" style="background-image: url(<%= @profile.cover_photo.url() %>)">
		<div class="row">
			<div class="col-md-5 col-md-offset-4">
				<div class="avatar">
					<%= image_tag @profile.avatar.url(:medium) %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="bio-box">
						<strong><%= @profile.bio %></strong>
					</div>
				</div>
			</div>
	</div>
	
	<div class="soundcloud">
		<p>
			<% if !@profile.embed.blank? %>
				<%= render :inline => @profile.embed %>
			<% end %>
		</p>
	</div>


        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
               
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
               
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                	
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
               
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
               
            </div>
        </div>
        <!-- /.row -->









	<div class="social-media">
		<p>Check out the rest of <%= @profile.name %>'s social media here:</p>	
		<div class="icons">
		
			<% if !@profile.facebook.blank? %>
				<%= link_to '<i class="fa fa-facebook-square fa-3x"></i>' .html_safe, @profile.facebook %>
			<% end %>
				&nbsp;&nbsp;&nbsp;
			<% if !@profile.twitter.blank? %>
				<%= link_to '<i class="fa fa-twitter-square fa-3x"></i>' .html_safe, @profile.twitter %>
			<% end %>
				&nbsp;&nbsp;&nbsp;
			<% if !@profile.soundcloud.blank? %>
				<%= link_to '<i class="fa fa-soundcloud fa-3x"></i>' .html_safe, @profile.soundcloud %>
			<% end %>
		</div>
	</div>


		
	</div>
</div>