<!-- this will be the landing page for the EPK as a whole -->

<p>
	<strong>
		<%= @profile.name %>'s EPK
	</strong>
</p>

<p>
	<h2>
		<%= @profile.bio %>
	</h2>
</p>

<p>
	<h2>
		<%= @profile.facebook %>
	</h2>
</p>

<p>
	<h2>
		<%= @profile.twitter %>
	</h2>
</p>

<p>
	<h2>
		<%= @profile.soundcloud %>
	</h2>
</p>

