<!-- this will be the landing page for the EPK as a whole -->

<p>
	<strong>
		<%= @profile.name %>'s EPK
	</strong>
</p>

<p>
	<h2>
		<%= @profile.bio %>
	</h2>
</p>

<!-- <p>
	<h2>
	s@profile.user.email
	</h2>
</p> -->


<!-- add cover_photo and avatar -->


<p>
	<h2>
		<%= @profile.facebook %>
	</h2>
</p>

<p>
	<h2>
		<%= @profile.twitter %>
	</h2>
</p>

<p>
	<h2>
		<%= @profile.soundcloud %>
	</h2>
</p>


<!-- make it so these can only be seen by the user themselves -->
<% if @profile.user == current_user %>
<!-- add edit and destroy methods -->
	<%= link_to "Edit EPK", edit_profile_path %> 
<% end %>
