<!DOCTYPE html>
<html>
<head>
  <title>EPK Cape Town</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- devise user, displays messages "successfully signed in" -->
   <!-- <p class="notice"><%= notice %></p>
         <p class="alert"><%= alert %></p> -->

    <header>
      <% if @profile %>
        <div class="epk-btn">
          <strong>              
            <%= @profile.name %>'s EPK <!-- set it to the right -->
          </strong>
        <% end %>
          <% if @profile && user_signed_in? %>
            <!-- make it so these can only be seen by the user themselves -->
            <% if @profile.user == current_user %>
              <!-- add edit and destroy methods -->
              <%= link_to "/ Edit EPK", edit_profile_path %> 
            <% end %>
           </div>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class=>"logout-btn") %>
        <% else %>
        		<%= link_to "Sign Up", new_user_registration_path, :class=>"logout-btn" %>
            <%= link_to "Log In", new_user_session_path, :class=>"login-btn" %> 
        <% end %>
      </header>
    <%= yield %>
  </body>
</html>
